<form [formGroup]="formGroup" fxLayoutAlign="center">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput formControlName="email" name="email" type="email" placeholder="email">
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput formControlName="password" name="password" type="password" placeholder="password">
          <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
            Password must be at least 8 characters
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <div>
          Already have an account? <a [routerLink]="['/auth/login']">Login</a>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end center">
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="onRegister()">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
