<h2>{{ this.isEditMode ? 'Edit Item' : 'Add Item' }}</h2>
<form [formGroup]="form">
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="title" name="title" placeholder="Title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <textarea matInput formControlName="details" name="details" placeholder="Details"></textarea>
    </mat-form-field>
  </div>
  <div>
    <img mat-card-image [src]="imageSrc$ | async">
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <input type="url" matInput formControlName="imageUrl" name="imageUrl" placeholder="Image URL">
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-raised-button mat-dialog-close>
      Cancel
    </button>
    <button 
      mat-raised-button
      color="primary" 
      [disabled]="form.invalid" 
      (click)="save()">
      {{ this.isEditMode ? 'Update' : 'Save' }}
    </button>
  </div>
</form>