<h2>{{ pageTitle }}</h2>
<form [formGroup]="form">
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <input matInput formControlName="title" name="title" placeholder="Title">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <textarea matInput formControlName="details" name="details" placeholder="Details"></textarea>
    </mat-form-field>
  </div>
  <div>    
    <img mat-card-image [src]="url.value">
  </div>
  <div>
    <mat-form-field appearance="outline" class="full-width">
      <input type="url" matInput formControlName="imageUrl" name="imageUrl" placeholder="Image URL" #url>
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end center" fxLayoutGap="8px">
    <button mat-raised-button mat-dialog-close>
      Cancel
    </button>
    <button 
      *ngIf="!data.isEditMode"
      mat-raised-button
      color="primary" 
      [disabled]="form.invalid" 
      (click)="save()">
      Save
    </button>
    <button 
      *ngIf="data.isEditMode"
      mat-raised-button 
      cdkFocusInitial
      color="primary" 
      [disabled]="form.invalid" 
      (click)="update()">
      Update
    </button>
  </div>
</form>